
.video-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;

    .fish-video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        object-fit: fill;
    }

    .video-toolbar{
        box-sizing: border-box;
        position: absolute;
        padding: 5px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        opacity: 0;
        transition: all 0.5s ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        .bottomWrap{
            display: flex;
            flex-direction: row;
            .toolbox-container{
                flex: 1;
                display: flex;
                justify-content: center;
                font-weight: bold;
                .volume{

                }
                .time-bar{
                    display:flex;
                    padding-left: 1em;
                    color: white;
                    cursor: pointer;
                    user-select: none;
                    text-align: center;
                }
                .Rate{
                    .RateChange{
                        display:flex;
                        color: white;
                        cursor: pointer;
                        user-select: none;
                        padding : 0 1em;
                        text-align: center;
                    }
                    .menu{
                        padding:0 1em;
                        .singleRate{
                            font-size: 0.5em;
                            font-weight: lighter;
                            color: white;
                            cursor: pointer;
                            user-select: none;
                            padding : 0.2em;
                            text-align: center;
                        }
                        .active{
                            color:skyblue;
                        }
                    }
                    
                }
                .toolButton{
                    position: relative;
                    .modal{
                        padding: 1px;
                        position: absolute;
                    }
                }
            }
            .left{
                justify-content: left;
            }
            .right{
                justify-content: right;
            }
        }
        .topWrap{
            width:100%;
            height:20px;
            position: relative;
            cursor: pointer;
            .progress-bar{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 25%;
                background-color: #ffffff;
                .progress{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: skyblue;
                    z-index:2;
                }
                .buffered-bar{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 100%;
                    z-index:1;
                    .buffered{
                        position:absolute;
                        top:0px;
                        height: 100%;
                        background-color: #a3a3a3;
                    }
                }
            }

            .currentButton{
                position: absolute;
                width:5px;
                height:5px;
                top:50%;
                transform:translateY(-50%);
                background-color: #fff;
                pointer-events: none;
            }
            &:hover .currentButton{
                outline: rgb(53, 144, 230) solid 3px;
                width:10px;
                height:10px;
                border-radius: 50%;
            }
            .hover-container{
                position: absolute;
                top: 50%;
                width:15px;
                display: none;
                pointer-events: none;
            }
            .timebar{
                position: absolute;
                font-size:15px;
                transform: translate(-25%,-250%);
                background-color: #00000083;
                padding:0 2px;
                color:#ccc;
            }
        }
        .icon{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg{
                height: 100%;
                width: 100%;
                opacity: 0.8;
            }
        }
    }
    &:hover .video-toolbar{
        opacity: 1;
    }
    
}